<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <table>
        <caption>{{title}}</caption>
        <thead><th>Email</th><th>Password</th></thead>
        <tbody>
        {% for user in user_list%}
        <tr><td>{{user.email}}</td><td>{{user.password}}</tr>
        {% endfor %}
        </tbody>
    </table>
    <form method="POST" action="/login/">
        <fieldset>
            <legend>Create User</legend>
            {% csrf_token %}
            {{form_user}}
            <button type="submit">Create</button>
        </fieldset>
    </form>
  </body>
</html>
