<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Service Info</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'service/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'service/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'service/css/shop-item.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
          <a class="navbar-brand" href="">About Service</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fa fa-fw fa-home"></i>Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">
        <h1 class="my-4">Service Info</h1>
          <div class="list-group">
              <label>Service Phone</label>
              <a href="" class="list-group-item">{{singser.servicephone}}</a></br>
              <label>Service Email</label>
              <a href="" class="list-group-item">{{singser.servicemail}}</a></br>
              <label>Website</label>
              <a href="" class="list-group-item">{{singser.websiteurl}}</a></br>
              <!--<a href="/askquery/id={{request.session.serid}}"><button type="button" class="btn btn-success">Ask a Query</button></a>-->
                {% if request.session.noquery %}
                {% else %}
                  <label><strong>Ask your Query</strong></label>
                  <form method="post" action="/askquery/id={{request.session.serid}}">
                      {% csrf_token %}
                    
                    <div class="control-group form-group">
                      <div class="controls">
                        <textarea rows="10" cols="100" class="form-control" maxlength="500" style="resize:none" name="query"></textarea>
                      </div>
                    </div>
                    <div id="success"></div>
                    <button type="submit" class="btn btn-success" id="sendMessageButton">Submit Query</button>
                  </form>
                {% endif %}
            </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
              <!--<img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">-->
            <div class="card-body">
                <h3 class="card-title">{{singser.nameofservice}}</h3>
                <h6>Type: {{singser.typeofservice}}</h5>
                <h6>Rating: {{rating}} / 5 </h5>
                <p class="card-text">{{singser.description}}</p>
              <!--<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                  4.0 stars-->
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Service Reviews
            </div>
            <div class="card-body">
            {% for revobj in revobjs %}
                <p>{{revobj.review}}</p>
                <small class="text-muted">Posted by {{revobj.usermail}}</small>
                  <hr>
             {% endfor %}
              {% if request.session.noquery %}
              {% else %}
					<div class="container">
            	    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Leave A Review</button>
                    <a href="/morereviews/id={{request.session.serid}}"><button type="button" class="btn btn-success" style="float:right;">More Reviews ..</button></a>
					  <div class="modal" id="myModal">
						<div class="modal-dialog">
						  <div class="modal-content">
						  
							<!-- Modal Header -->
							<div class="modal-header">
                                <h4 class="modal-title">Review and Rate</h4>
							  <button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
				
							<!-- Modal body -->
							<div class="modal-body">
							  <!-- Contact Form -->
						  <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
                          <form action="/addreview/" method="post">
                              {% csrf_token %}
						  <div class="row">
							<div class="col-lg-8 mb-4">
                                <div class="control-group form-group">
								  <div class="controls">
									<label>Review:</label>
									<textarea rows="10" cols="100" class="form-control" name="review" required maxlength="500" style="resize:none"></textarea>
								  </div>
								</div>
                                <div class="form-group">
                                  <label for="sel1">Rating</label>
                                    <select class="form-control" id="rating" name="rating">
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
								<div id="success"></div>
                                <button type="submit" class="btn btn-success">Submit Review</button>
							</div>
						  </div>
							</div>
				
							<!-- Modal footer -->
							<div class="modal-footer">
							  <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
							</div>
                            </form>
						  </div>
						</div>
					  </div>
					  
					</div>
              {% endif %}
            </div>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'service/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'service/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
